.footer{
    padding: 20px 0;
    background-color: #000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #f9fafc;
    margin-bottom: 15px;
} 

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}

.link img{
    width: 30px;
}

.link p{
    font-size: 16px;
    color: #c5c5c5;
}